<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CakeMe | Love made edible</title>

    <!-- load static files -->
    {% load static %}

    <!-- CSS -->
    <link href="{% static 'css/cake_me.css' %}" rel="stylesheet" />

    <!-- JS -->
    <script src="{% static 'js/cake_me.js' %}"></script>

  </head>

  <body>

    <!-- site layout -->
    <section>
      <!-- nav bar -->
      {% include 'components/navbar.html' %}

      <!-- main -->
      <main></main>

      <!-- footer dark -->
      {% include 'components/footer_dark.html' %}
      <!-- footer light -->
      {% include 'components/footer_light.html' %}
    </section>
    <!-- end layout -->
  </body>

</html>